crud/adocao/_pycache_/*
crud/adocao/__pycache__/operations.cpython-312.pyc
crud/adocao/__pycache__/init.cpython-312.pyc
crud/adocao/__pycache__/init.cpython-312.pyc
crud/adocao/__pycache__/operations.cpython-312.pyc
/crud/adocao/__pycache__
