crud/adocao/_pycache_/*
crud/adocao/__pycache__/operations.cpython-312.pyc
crud/adocao/__pycache__/init.cpython-312.pyc
/crud/adocao/__pycache__
*.pyc
crud/adocao/__pycache__/init.cpython-312.pyc
crud/adocao/__pycache__/operations.cpython-312.pyc
crud/cliente/__pycache__/init.cpython-312.pyc
crud/cliente/__pycache__/operations.cpython-312.pyc
crud/voluntariado/pycache/*
*.pyc
*.pyc
*.pyc
*.pyc
/crud/adocao/__pycache__
/crud/adocao/__pycache__
crud/adocao/pycache/*
crud/pet_shop/pycache/*
crud/veterinario/__pycache__/init.cpython-312.pyc
/crud/pet_shop/__pycache__
crud/adocao/__pycache__/init.cpython-312.pyc
/crud/adocao/__pycache__
/crud/adocao/__pycache__
*.pyc
*.pyc
/crud/pet_shop/__pycache__
/crud/pet_shop/__pycache__
*.pyc
